.div_odd{
  background: #C0C0C0;
  text-align: left;
}
.div_even{
  background: #F0F0F0;
  text-align: left;
}

th {
  background: #404853;
  color: #fff;
  border:1px solid grey;
  border-collapse: inherit;
}
tbody tr:nth-child(even) td {
  background: #f7faf9;
  border:1px solid grey;
  border-collapse: inherit;
}
tbody tr:nth-child(odd) td {
  border:1px solid grey;
  border-collapse: inherit;
}
tfoot tr.total td {
  background: #e8eae9;
  border:1px solid grey;
  border-collapse: inherit;
}

table {
border: 1px solid grey;
border-collapse: collapse;
border-spacing: 0;
margin: 0 0 20px 0;
max-width: 100%;
}
.center
{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}