{% load static %}
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Character Bazaar Scraper</title>
    <link href="{% static "charsearch_app/images/favicon.ico" %}" rel="icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "charsearch_app/css/ecs.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div align="center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ECSBanner -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4554945299162232"
           data-ad-slot="8679850366"
           data-ad-format="auto">
      </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {% block extra_js %}{% endblock %}
    <div id='content'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
