body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #12041e;
    background-image: url("../images/hr_space.jpg");
    background-repeat: repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

a:link {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: black;
    font-size: 50;
    font-weight: 700;
    line-height: 1em;
    text-shadow: 0 0 10 #1D1E2F;
}

.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #A2A2A2;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 2px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

table {
    margin: 0;
    padding: 0;
    box-shadow: 10 10 5px #888888;
    border: 1px solid #777777;
    border-spacing: 0;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}
table tr:hover td {
    background-color: #37aae4;
}
table tr:nth-child(odd) {
    background-color: #ffffff;
}
table tr:nth-child(even) {
    background-color: #eaeaea;
}
table td {
    vertical-align: middle;
    border: 1px solid #777777;
    border-width: 0 1px 1px 0;
    text-align: center;
    padding: 9px;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
}
table tr:first-child td {
    font-weight: 700;
}
table tr:last-child td {
    border-width: 0 1px 0 0;
}
table tr td:last-child {
    border-width: 0 0 1px 0;
}
table tr td:nth-child(2) {
    text-align: left;
}
table tr:last-child td:last-child {
    border-width: 0 0 0 0;
}
table th {

    background-color: rgb(60, 95, 115);
    border: 0 solid #777777;
    padding: 9px;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}
table tr:first-child td:first-child {
    border-width: 0 1px 1px 0;
}
table tr:first-child td:last-child {
    border-width: 0 0 1px 0;
}

.eveboard {
    border-radius: 5px;
    background-color: #212227;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}
.eveboard img {
    transform: scale(1.2, 1.2);
}

.pagination {
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
    font-size: 76%;
    text-align: center;
    margin: 10px;
}
.pagination a, .pagination strong {
    border: 0;
    color: #4A4A4A;
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
    background: rgb(190, 190, 190);
    background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}

.ui-panel {
    background: rgb(25, 25, 25);
    background: rgba(25, 25, 25, 0.75);
    padding: 20px;
    border: 1px solid rgb(60, 95, 115);
    border: 1px solid rgba(60, 95, 115, 0.75);
    margin: 10px;
}

.hidden {
    display: none;
}

.notes {
    text-align: left;
    color: white;
}

.styled-input {
    text-align: left;
    overflow: hidden;
    margin-left: 10px;
    height: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(60, 95, 115);
    color: #dadffa;
    border-color: #dadffa;
}

.styled-select {
    text-align: left;
    overflow: hidden;
    margin-left: 10px;
    height: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(60, 95, 115);
    color: #dadffa;
    border-color: #dadffa;
}

.clear {
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-top: .5em;
    margin-bottom: .5em;
}

.filter {
    margin: 10px;
}

.delbutton {
    vertical-align: middle;;
    text-align: left;
    height: 2em;
}
.header-image {
    width: 50%;
    height: 50%;
    /*margin-bottom: 20px;*/
}
