{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block extra_js %}
<script>
	var counter = 1
	function add() {
		var element = document.createElement('select');
		element.name = 'filter' + counter;
		{% for skill in skills %}
			var skill{{ skill.typeID }} = document.createElement('option');
			skill{{ skill.typeID }}.value = '{{ skill.typeID }}';
			skill{{ skill.typeID }}.innerHTML = '{{ skill.name }}';
			element.appendChild(skill{{ skill.typeID }});
		{% endfor %}		
		var level = document.createElement('select');
		level.name = 'level' + counter;
		var one = document.createElement('option');
		one.value = '1';
		one.innerHTML = 'I';
		level.appendChild(one)
		var two = document.createElement('option');
		two.value = '2';
		two.innerHTML = 'II';
		level.appendChild(two);
		var three = document.createElement('option');
		three.value = '3';
		three.innerHTML = 'III';
		level.appendChild(three);
		var four = document.createElement('option');
		four.value = '4';
		four.innerHTML = 'IV';
		level.appendChild(four);
		var five = document.createElement('option');
		five.value = '5';
		five.innerHTML = 'V';
		level.appendChild(five);
		document.forms.filters.insertBefore(document.createElement('br'),document.forms.filters.firstChild)
		document.forms.filters.insertBefore(level,document.forms.filters.firstChild);
		document.forms.filters.insertBefore(element,document.forms.filters.firstChild);
		
		counter++;

	}

 </script>
 {% endblock %}
{% block content %}
	<h1 class='center'>Eve Character Search Alpha 0.00000002</h1>
	 <div class='center'><button onclick='add()'>Add Filter</button></div>
	 <form class='center' name='filters' method='post'>
	 	{% csrf_token %}
	 	<input type='submit' value='Search'/><br>
	 </form>
	{% if threads %}
			<table class='center'>
				<tr>
					<th scope="col">Thread</th>
					<th scope="col">Eveboard Link</th>
				<tr>
				{% for thread in threads %}
				    <tr>
				    	<td>
				    		<a href="https://forums.eveonline.com/default.aspx?g=posts&t={{ thread.thread_id }}&find=unread">{{ thread.thread_title }}</a>
				    	</td>
				    	<td align='center'>
				        	<a href="http://eveboard.com/pilot/{{ thread.character.name }}"><img src="{{ STATIC_URL }}images/eveboard.jpg" alt='Eveboard link'/></a>
				        </td>
				    </tr>
			    {% endfor %}
		    </table>
	{% endif %}
	</br>
	</br>
	<div class='center'>
		<h2> Notes </h2>
		<ul style='text-align:left'>
		    <li>This app scrapes the eve-o forum character bazaar and builds a database of currently active sales</li>
		    <li>You add filters then hit search to find the character with the skills you want</li>
		    <li>Currently It wont scrape passworded sales</li>
		    <li>At the moment it searchs for the skills you put in or greater than</li>
		    <li>Contact twistfrog on jabber if you have anything to say</li>
		</ul>
	</div>
 {% endblock %}
