{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block extra_js %}
<script>
	var skillList = {{ js_skills|safe }}
	var counter = 1
	function delself(){
		parentNode.parentNode.removeChild(parentNode)
	}
	function makeSkillSelectElement(typeID,name,selected)	{
		var skillEle = document.createElement('option');
		skillEle.value = typeID;
		skillEle.innerHTML = name;
		if (selected)
		{
			skillEle.selected = true;
		}
		return skillEle;
	}
	function start() {
		{% for filter in filters %}
			var element = document.createElement('select');
			element.name = 'filter' + counter;
			for (var i = 0; i < skillList.length; i++) 
			{    			
				if ( skillList[i]['fields']['typeID'] == {{ filter.typeid }} )
				{
					element.appendChild( makeSkillSelectElement( skillList[i]['fields']['typeID'] , skillList[i]['fields']['name'] , true) );
				}
				else
				{
					element.appendChild( makeSkillSelectElement( skillList[i]['fields']['typeID'] , skillList[i]['fields']['name'] , false) );
				}
			}
			var level = document.createElement('select');
			level.name = 'level' + counter;
			var one = document.createElement('option');
			one.value = '1';
			one.innerHTML = 'I';
			if ({{ filter.level }} == 1)
			{
				one.selected = true
			}
			level.appendChild(one)
			var two = document.createElement('option');
			two.value = '2';
			two.innerHTML = 'II';
			if ({{ filter.level }} == 2)
			{
				two.selected = true
			}
			level.appendChild(two);
			var three = document.createElement('option');
			three.value = '3';
			three.innerHTML = 'III';
			if ({{ filter.level }} == 3)
			{
				three.selected = true
			}
			level.appendChild(three);
			var four = document.createElement('option');
			four.value = '4';
			four.innerHTML = 'IV';
			if ({{ filter.level }} == 4)
			{
				four.selected = true
			}
			level.appendChild(four);
			var five = document.createElement('option');
			five.value = '5';
			five.innerHTML = 'V';
			if ({{ filter.level }} == 5)
			{
				five.selected = true
			}
			level.appendChild(five);
			var delbutton = document.createElement('button');
			delbutton.setAttribute('onclick','parentNode.parentNode.removeChild(parentNode)');
			delbutton.innerHTML = 'Remove Filter';
			delbutton.type = 'button'
			var div = document.createElement('div');
			div.insertBefore(document.createElement('br'),div.firstChild);
			div.insertBefore(delbutton,div.firstChild);
			div.insertBefore(level,div.firstChild);
			div.insertBefore(element,div.firstChild);
			document.forms.filters.insertBefore(div,document.forms.filters.firstChild);

			
			counter++;
		{% endfor %}
	}
	function add() {
		var element = document.createElement('select');
		element.name = 'filter' + counter;
		for (var i = 0; i < skillList.length; i++) 
			{    			
				element.appendChild( makeSkillSelectElement( skillList[i]['fields']['typeID'] , skillList[i]['fields']['name'] , false) );
			}
		var level = document.createElement('select');
		level.name = 'level' + counter;
		var one = document.createElement('option');
		one.value = '1';
		one.innerHTML = 'I';
		level.appendChild(one)
		var two = document.createElement('option');
		two.value = '2';
		two.innerHTML = 'II';
		level.appendChild(two);
		var three = document.createElement('option');
		three.value = '3';
		three.innerHTML = 'III';
		level.appendChild(three);
		var four = document.createElement('option');
		four.value = '4';
		four.innerHTML = 'IV';
		level.appendChild(four);
		var five = document.createElement('option');
		five.value = '5';
		five.innerHTML = 'V';
		level.appendChild(five);
		var delbutton = document.createElement('button');
		delbutton.setAttribute('onclick','parentNode.parentNode.removeChild(parentNode)');
		delbutton.innerHTML = 'Remove Filter';
		delbutton.type = 'button'
		var div = document.createElement('div');
		div.insertBefore(document.createElement('br'),div.firstChild);
		div.insertBefore(delbutton,div.firstChild);
		div.insertBefore(level,div.firstChild);
		div.insertBefore(element,div.firstChild);
		document.forms.filters.insertBefore(div,document.forms.filters.firstChild);

		counter++;

	}

	window.onload = start
 </script>
 {% endblock %}
{% block content %}
	<h1 class='center'>Eve Character Search Alpha 0.1</h1>
	 <div class='center'><button onclick='add()'>Add Filter</button></div>
	 <form class='center' name='filters' method='post'>
	 	{% csrf_token %}
	 	<input type='submit' value='Search'/><br>
	 </form>
	{% if threads %}
			<table class='center'>
				<tr>
					<th scope="col">Thread</th>
					<th scope="col">Last Seen</th>
					<th scope="col">Eveboard Link</th>
				<tr>
				{% for thread in threads %}
				    <tr>
				    	<td>
				    		<a href="https://forums.eveonline.com/default.aspx?g=posts&t={{ thread.thread_id }}&find=unread">{{ thread.thread_title }}</a>
				    	</td>
				    	<td>
				    		{{ thread.last_update }}
				    	</td>
				    	<td align='center'>
				        	<a href="http://eveboard.com/pilot/{{ thread.character.name }}"><img src="{{ STATIC_URL }}images/eveboard.jpg" alt='Eveboard link'/></a>
				        </td>
				    </tr>
			    {% endfor %}
		    </table>
	{% endif %}
	</br>
	</br>
	<div class='center'>
		<h2> Notes </h2>
		<ul style='text-align:left'>
		    <li>This app scrapes the eve-o forum character bazaar and builds a database of currently active sales</li>
		    <li>You add filters then hit search to find the character with the skills you want</li>
		    <li>Currently It wont scrape passworded sales</li>
		    <li>At the moment it searchs for the skills you put in or greater than</li>
		    <li>Contact twistfrog on jabber if you have anything to say</li>
		</ul>
		<h2>Changelog</h2>
		<h3>18/02/2013 - v0.1</h3>
		<ul style='text-align:left'>
			<li>Added 'Last seen' column to indicate when the thread was last seen on the front page</li>
			<li>Sorted skills roughly as they are sorted ingame</li>
			<li>Big optimizations for the javascript.. no more 20k autogenerated javascript lines</li>
			<li>Persist filters so you don't lose your filterset when you press search!</li>
			<li>Remove filter button</li>
		</ul>
		<h3>01/12/2012 - v0.000000000002 </h3>
			<ul style='text-align:left'>
				<li>Initial version</li>
			</ul>


	</div>
 {% endblock %}
